#
#
# ALL ENVIRONMENT VARIABLES ARE REQUIRED.
# DO NOT LEAVE ANY VARIABLES EMPTY/UNDEFINED.
# PUSHING AN .ENV FILE TO GITHUB WILL EXPOSE YOUR CREDENTIALS PUBLICLY.
# THIS WILL RENDER YOUR IMDB/TRAKT ACCOUNTS HACKED IF A MALICIOUS USER FINDS THE CREDENTIALS.
# IF USING GITHUB REPOSITORY SECRETS, AN .ENV FILE IS NOT REQUIRED.
#
#

#
# IMDB_COOKIE_AT_MAIN
# Retrieve the `at-main` cookie by logging into your IMDb account and inspecting the cookies using your favourite web browser.
# name: at-main | domain: .imdb.com
IMDB_COOKIE_AT_MAIN=BIEW0B|IwEAtzavXGbr7wSDlKMjWMvCqYXAiwoKATBe5--Q2IPEhhxQNFLrW_SfHeqFw9et-J7cgdnErgCQpEv_3GJeYD6V8nTnzlxNHSjQUFxsU9kUrg1442gbcjfFk21rYeXWy1xx0yjjBXNd50u-UJhtk_laxkOU7_pBMCEE5CFC9LGNZGiZnV7XcHgI6EMTyEm9w0HsWHQoUyn6WeeN_3_hB_TI-KA5Qcbv6Zm7Z9myueZd9Z0UAn8O_AB0WoIxgIVdK13P0
#
# IMDB_COOKIE_UBID_MAIN
# Retrieve the `ubid-main` cookie by logging into your IMDb account and inspecting the cookies using your favourite web browser.
# (name: ubid-main | domain: .imdb.com)
IMDB_COOKIE_UBID_MAIN=133-3657396-5532224
#
# IMDB_LIST_IDS
# Comma separated list of IMDb lists that you want synced to Trakt.
# In order to get the id of an IMDb list, open your list in a browser and you will find the id in the URL with this format `ls#########`.
# If you set the value to `all` all your IMDb lists will be synced to Trakt.
# Keep in mind the maximum number of lists you can have in Trakt: https://twitter.com/trakt/status/1536751362943332352
# example: ls517879007,ls084017844,ls093412639
IMDB_LIST_IDS=all
#
# SYNC_MODE
# The sync mode to be used when running the syncer.
# The value must be one of the following: `full`, `dry-run`, `add-only`.
# `full`     - sync all IMDb items by adding, deleting or updating Trakt resources
# `add-only` - sync only newly added IMDb items to Trakt
# `dry-run`  - identify what IMDb items would be added, deleted or updated on Trakt
SYNC_MODE=dry-run
#
# TRAKT_CLIENT_ID
# Client id of your Trakt API application.
# More info in the README file: https://github.com/cecobask/imdb-trakt-sync/blob/main/README.md
TRAKT_CLIENT_ID=9b36d8c0db59eff5038aea7a417d73e69aea75b41aac771816d2ef1b3109cc2f
#
# TRAKT_CLIENT_SECRET
# Client secret of your Trakt API application.
# More info in the README file: https://github.com/cecobask/imdb-trakt-sync/blob/main/README.md
TRAKT_CLIENT_SECRET=f5038aeac0db59ef417dcc2f9aea75b737a9b36d8e66d2ef1b310941aac77181
#
# TRAKT_EMAIL
# Trakt account email address (not username).
TRAKT_EMAIL=username@hostname.com
#
# TRAKT_PASSWORD
# Trakt password.
TRAKT_PASSWORD=password